*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: hsl(0, 0%, 80%);
    font-family: 'Open Sans', sans-serif;
}

/* SECTION style start */

section{
    padding:1rem 5%;
    min-height: 100vh;
}

section .heading{
    font-size: 37px;
    padding-bottom: 20px;
    color:#111;
    text-transform: uppercase;
}

section .heading span{
    color: cadetblue;
    font-size: 45px;
    text-transform: uppercase;
}
/* SECTION Style end */
.navbar{
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  }

  .navbar nav{
  position: absolute;
  width: 100%;
  top: 0;
  height: 60px;
  z-index: 99;
  box-shadow: 0 0 4px black;
  background: rgba(0, 0, 0, 0.5);
  }
  nav .webname{
  float: left;
  margin: 15px 0px 15px 30px;
  font-size: 30px;
  }
  nav ul{
  float: right;
  list-style: none;
  margin: 0 50px 0 10px;
  padding: 0;
  width: 600px;
  }
  nav li{
  display: inline-block;
  line-height: 56px;
  margin:0 2px 0 17px;
  text-transform: uppercase;
  }
  nav li a{
  display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: .5s all;
  }
  .navbar a:hover{
  color:#1c2833;
  border-bottom: 5px solid white;
  }
  #search{
  position: relative;
  margin-top: 10px;
  padding: 5px 10px 5px 20px;
  width: 250px;
  height: 40px;
  border-bottom: 2px solid#006699;
  font-size: 15px;
  color: #006699;
  border-radius: 50px;
  align-items: center;
  float: right;
  z-index: 0;
  }
  
  #submit{
  position: relative;
  left: -40px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  float: right;
  background-color: #006699;
  color: white;
  cursor: pointer;
  z-index: 1;
  }
  #btn{
  display: none;
  
  }
  .check{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
  transform: rotate(-90deg);
  display: none;
  }
  @media(max-width: 1100px){
  nav ul{
  position: fixed;
  width: 40%;
  height: 100vh;
  top: 60px;
  left: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .5s;
  }
  nav ul li{
  display: block;
  }
  nav ul li a{
  font-size: 20px;
  color: white;
  }
  .check{
  display: block;
  }
  #btn:checked ~ ul{
  left: 60%;
  }
  }
  @media(max-width: 670px){
  #submit,#search{
  display: none;
  }
  }
/* HOME section start */
.home{
    background-image: url(../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 99%;
}
/* HOME section end */

/* NAVBAR start */

/* NAVBAR end */

/* SERVICE section start */
  
.service .container {
    /* position: absolute; */
    height: 600px;
    width: 1200px;
    top: 120px;
    left: calc(25% - 300px);
    display: flex;
  }
  
  .service .card {
    display: flex;
    height: 560px;
    width: 400px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    margin-left: 70px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .service .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .service .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .service .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .service .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .service .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .service .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .service .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .service .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .service .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .service .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
    .service .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

/* SERVICE section end */

/* Card SERVICE  */
