@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    color: #37383a;
}

li {
    list-style: none;
}

a {
    color: #2f1e84;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Global Classes */

.logo-img {
    width: 100%;
    max-width: 200px;
}

@media (max-width: 650px) {
    .logo-img {
        margin: 0 auto;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: ce3nter;
    text-align: center;
    width: calc(100% / 1.1);
    margin: 1.5rem;
    padding: 3rem 2rem 3rem 2rem;
    border: 1px solid rgba(55, 56, 58, 0.1);
    border-radius: 5px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 1.5rem auto;
    }
}

.card:hover {
    box-shadow: 0 0 2rem -0.7rem rgba(55, 56, 58, 0.2);
    border: 1px solid #ced4ee;
}

.icon {
    width: 50px;
}

/* Header */

header {
    padding: 0 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.2);
}

@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    .logo {
        margin: 15px auto;
    }
}

nav {
    font-weight: 400;
}

@media (max-width: 650px) {
    nav {
        margin: 15px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav li {
        padding-bottom: 8px;
    }
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    padding: 0px 10px 0px 10px;
}

/* Table formating */
#table {
    padding: 12rem 1rem;
    text-align: center;
    color: #2f1e84;
}

td {
    text-align: center;
    width: 12em;
    padding: 1em;
}

th {
    text-align: center;
    padding: 1em;
    background-color: #2f1e84;
    color: white;
}

tr {
    height: 1em;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}